.footer{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: calc(100vh + 200px);
    display: flex;
    flex-direction: row;
    min-height: 100px;
    max-height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
}


.footer > div{
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer > div:nth-child(2){
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
/*navbar css*/

/*.navbar,.space,.media{
    margin: 20px 0px;
    width: 50%;
    
}*/

.navbar{
    max-width: 250px;
    justify-content: center;
}

.navbar ul li a{
    font-size: 16px;
    color: rgb(239, 231, 231);
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid gray;
}

.navbar ul li:last-child{
    border: none;
}

/*media css*/

.media{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media a{
    color: white;
}

.media .media_image{
    margin-right: 20px;
}

/*information*/
.information{
    margin-top: 20px;
    /*text-align: center;*/
}
.information span{
    font-size: 14px;
    color: white;
    text-align: center;
}
@media(max-width:760px){
    .navbar{
        width: 40%;
    }
    .space{
        width: 20%;
    }
   
}


@media(max-width:576px){
    .navbar{
        width: 50%;
    }
    .space{
        width: 0%;
    }
}

@media(max-width:480px){
    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer > div{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
       
    }
    .media{
        margin-left: auto;
        margin-right: auto;
    }
    ul{
        padding:0;
    }
    .information span{
        text-align: center;
    }

}

