.footer{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    max-height: 150px;
    padding-bottom: 10px;
}

/*navbar css*/

.navbar,.space,.media{
    margin: 20px 0px;
    width: 50%;
    /*border-right:1px gray solid; */
}
.navbar{
    justify-content: center;
}

.navbar ul li a{
    font-size: 16px;
    color: rgb(239, 231, 231);
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
}

.navbar ul li:last-child{
    border: none;
}

/*media css*/

.media{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media a{
    color: white;
}

.media .media_image{
    margin-right: 20px;
}

/*information*/

.information label{
    font-size: 12px;
    color: white;
}
@media(max-width:760px){
    .navbar{
        width: 40%;
    }
    .space{
        width: 20%;
    }
   
}


@media(max-width:576px){
    .navbar{
        width: 60%;
    }
    .space{
        width: 0%;
    }
}

