.header{
    width: 100%;
    height:50vw;
    background-image: url('../images/main1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menu{
    background-color: black;
}

.others{
    height: 500px;
}
