.menu{
    width: 100%;
    height:80px;
    background-color: transparent !important;
    background-image: linear-gradient(180deg,hsla(0, 39%, 83%, 0.664),hsla(0,0%,100%,0));
    position: fixed;
    transition: 0.5s linear;
}

.menu ul li{
    margin-top: 40px;
}
.menu ul li a{
    color: rgb(127, 174, 222);
    font-size: 20px;
    font-weight: 800;
}


.menu.whites{
    transition: 0.5s linear;
    background-color: gray !important;
}

.menu.whites ul li a{
    color: silver; 
    transition: 0.5s linear;
}

.menu ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}


/*section css*/
.section{
    width: 100%;
}


.left,.right{
    width: 50%;
}
