.Product_main_sections{
    width: 80%;
    padding-top: 100px;
    height: auto;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    position: fixed;
}

.title{
    position: relative;
    animation: product_title_fadeIn 0.8s;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subtitle{
    color:brown;
    font-weight: bold;
    font-size: 25px;
}

.productBox{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 200px;
}
.productName{
    width: 70%;
}
.productPrice{
    width: 70%;
    color: red;
}
.productImg{
    width: 150px;
    height: 250px;
    overflow: hidden;
}
.productImg img{
    margin-left: -50px;
}

.row{
    margin-top: 20px;
    position: relative;
    opacity: 0;
    transition: 1s;
    left:-100%; 
}

.fadeIn{
    opacity: 1;
    left:0%;
    transition: 1s;
}

.motorComponent{
    animation-iteration-count: 1;
}

.carComponent{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
}

button a{
    color: white;
    font-weight: bold;
}


.buttons_group button{
    border: gray;
    background-color: gray;
    margin-right: 10px;
    background: linear-gradient(to left, red 50%, #0d6efd 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.buttons_group button:hover{
    background-position: left;
}
img{
    transition: 0.2s linear;
}

img.down{
    transform: translateY(-50%);
    transition: 0.2s linear;
}

.buttons_group{
    margin-left: 20px;
}

/*animation*/

@keyframes product_title_fadeIn{
    0%{
        top:-100px;
        opacity: 0;
    }

    100%{
        top:0px;
        opacity: 1;
    }
}






