.sections{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    
}

.sections.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.left,.right{
    width: 50%;
    height: 500px;
    max-height: 500px;
    background-blend-mode: multiply;
}
.about{
    
    background-image: url('https://roguemotorcycles.com.au/cdn/shop/files/RoguePerthShowroom4_1600x.jpg?v=1692683874');
    background-repeat: no-repeat;
    background-size: cover;
}

.product{
    background-image: url('https://roguemotorcycles.com.au/cdn/shop/files/RoguePerthShowroom4_1600x.jpg?v=1692683874');
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    background: linear-gradient(90deg,transparent,80%,rgb(56, 54, 64,0.8));
}
.right{
    background:linear-gradient(90deg,rgb(56, 54, 64,0.8),60%,rgb(145, 140, 140));
}
.sections.reverse .right{
    background:linear-gradient(90deg,rgb(56, 54, 64),60%,rgb(145, 140, 140,0.8));
}

.sections.reverse .left{
    background:linear-gradient(90deg,rgb(145,140,140,0.8),20%,transparent);
}

.text{
    margin-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color:white;
    font-size: 1.4rem;
}

.button{
    margin-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.button .btn{
    background-color: inherit;
    border-color: white;
    font-weight: bold;
    transition: 0.1s linear;
    color: white;
}

.button .btn:hover{
    transition: 0.1s linear;
    border:5px solid white;
    background-color: inherit;
    color: white;
}

.button .btn:active{
    border:5px solid white;
    color: white;
    background-color: inherit;
}

@media(max-width:476px){
    .sections{
        height: 300px;
    }
    .left,.right{
        height: auto;
    }
    .left .text,.right .text{
        margin-top: 50px;
        font-size: 18px;
    }
    .left .button,.right .button{
        margin-top: 20px;
    }
}
